<h1> Edit Item </h1>
<form action="/item/save" method="post">
        <input type="hidden" name="item_id" value="<%=onerec.item_id%>" >
    
    <table>
        
        <tr> <td> Item Name: </td> <td> <input type="text" name="itemname" value="<%= onerec.itemname %>" required> </td> </tr>
        <tr> <td> Image: </td> <td> <input type="text" name="itemimage" value="<%= onerec.itemimage %>" required> </td> </tr>
        <tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30"><%= onerec.description %></textarea> </td> </tr>
        <tr> <td> Category ID: </td> <td> 
            
                            <select name="category_id" required>
                                <% for (var i = 0; i < cats.length; i++) { %>
                                    <% if (cats[i].category_id == onerec.category_id) { %>
                                        <option selected value=<%= cats[i].category_id %>>
                                            <%= cats[i].category %></option>
                                    <% } else { %>
                                        <option value=<%= cats[i].category_id %>>
                                            <%= cats[i].category %></option>
                                    <% } }%>
                            </select>


                        </td> </tr>
        <tr> <td> Brand ID: </td> <td> <input type="number" name="type_id" value="<%= onerec.type_id %>" required> </td> </tr>
        <tr> <td> Demographic: </td> <td> <input type="text" name="subcategory_1" value="<%= onerec.subcategory_1 %>" required> </td></tr>
        <tr> <td> Material: </td> <td> <input type="text" name="subcategory_2" value="<%= onerec.subcategory_2 %>" required> </td></tr>
        <tr> <td> Size: </td> <td> <input type="text" name="size" value="<%= onerec.size %>" required> </td> </tr>
        <tr> <td> Price: </td> <td> <input type="text" name="typeprice" value="<%= onerec.typeprice %>" required> </td> </tr>
        
        <tr> <td> Show on Homepage?: </td> 
            <td>
                <% if(onerec.homepage) {%>
                    <input type="checkbox" name="homepage" checked="true">
                <% } else { %>
                    <input type="checkbox" name="homepage">
                <% } %>
            </td> 
        </tr>
        
        <tr> <td> Status: </td> <td> <select name="status" required>
                                                        <option selected><%= onerec.status %></option>
                                                        <option>Available</option>
                                                        <option>Out of Stock</option>
                                                        <option>Future Plan</option>
                </select> </td> </tr>
        
    </table>
    
    <button type="submit">Save</button>
</form>