<h1> Item Details </h1>
<table>
        <tr> <td> Item ID: </td> <td> <%= onerec.item_id %> </td> </tr>
        <tr> <td> Item Name: </td> <td> <%= onerec.itemname %> </td> </tr>
        <tr> <td> Image: </td> <td> <%= onerec.itemimage %> </td> </tr>
        <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
        <tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
        <tr> <td> Type ID: </td> <td> <%= onerec.type_id %> </td> </tr>
        <tr> <td> Sub Category 1: </td> <td> <%= onerec.subcategory_1 %> </td> </tr>
        <tr> <td> Sub Category 2: </td> <td> <%= onerec.subcategory_2 %> </td> </tr>
        <tr> <td> Size: </td> <td> <%= onerec.size %> </td> </tr>
        <tr> <td> Price: </td> <td> <%= onerec.typeprice %> </td> </tr>
        <tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
</table>