<h1> Person Details </h1>
<table>
        <tr> <td> Person ID: </td> <td> <%= onepers.person_id %> </td> </tr>
        <tr> <td> First Name: </td> <td> <%= onepers.firstname %> </td> </tr>
        <tr> <td> Last Name: </td> <td> <%= onepers.lastname %> </td> </tr>
        <tr> <td> Email: </td> <td> <%= onepers.email %> </td> </tr>
        <tr> <td> Phone: </td> <td> <%= onepers.phone %> </td> </tr>
        <tr> <td> Address: </td> <td> <%= onepers.address1 %> </td> </tr>
        <tr> <td> City: </td> <td> <%= onepers.city %> </td> </tr>
        <tr> <td> State: </td> <td> <%= onepers.state %> </td> </tr>
        <tr> <td> Zip: </td> <td> <%= onepers.zip %> </td> </tr>
        <tr> <td> Username: </td> <td> <%= onepers.username %> </td> </tr>
        <tr> <td> Password: </td> <td> <%= onepers.password %> </td> </tr>
</table>