<h1> Order Details </h1>
<table>
        <tr> <td> Order Detail ID: </td> <td> <%= onerec.orderdetail_id %> </td> </tr>
        <tr> <td> Order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
        <tr> <td> Item ID: </td> <td> <%= onerec.item_id %> </td> </tr>
        <tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
        <tr> <td> Quantity: </td> <td> <%= onerec.qty %> </td> </tr>

</table>