<% if (allpersons.length > 0) {%>
    <table>
        <tr>
            <th> Person ID </th>
            <th> First Name </th>
            <th> Last name </th>
            <th> Email </th>
            <th> City </th>
            <th> State </th>
            <th> Username </th>
        
        </tr>
        <% allpersons.forEach((persref, index) => { %>
            <tr>
                <td><%= persref.person_id %></td>
                <td><%= persref.firstname %></td>
                <td><%= persref.lastname %></td>
                <td><%= persref.email %></td>
                <td><%= persref.city %></td>
                <td><%= persref.state %></td>
                <td><%= persref.username %></td>
                
            </tr>
    <% }); %>
    </table>

    <% } else { %>
        <p>No Records Available</p>
    <% } %>
